.btn {
    padding: 8px 18px;
    border-radius: 4px;
    color: #fff;
    background-color: #353333;
}
body{
    height: 100%;
    background-color: #ececec;
    background: url('./../img/bg.jpg');
    background-size: auto;
    background-repeat: no-repeat;
}
.header{
    position: fixed;
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid #eee;
}
.header .navbar{
    box-shadow:265px 0px 10px #00000025;
}
.main{
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
}
aside{
    position: fixed;
    width: 260px;
    height: calc(100% - 70px);
    bottom: 0;
    padding: 8px 0;
    background: #fff;
    box-shadow: 0px 0px 10px #00000025;
    border-right: 1px solid #eee;
}
nav.sidebar {
    position: relative;
    width: 100%;
    height: 100%;
}

ul.sidebar_menu {
    display: flex;
    flex-direction: column;
    list-style: none;
}

a.sidebar_link {
    padding: 12px 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.5s linear;
    border-bottom:1px solid #f5f5f5;
}
.sidebar_link:hover{
    background-color: #eee;
}

a.sidebar_link .link_icon {
    font-size: 20px;
}

a.sidebar_link .link_name {
    font-size: 17px;
    text-transform: capitalize;
}



.main_wrapper{    
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 260px;
    padding: 20px;
    padding-top: 85px;
    width: calc(100% - 260px);
    margin-left: auto;
}

/* card */
.card{
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 4px 8px #00000030;
}
.card .card-header{
    padding: 1rem;
    border-bottom: 2px solid #eee;
}
.card-header.item-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-title{
    font-size: 24px;
    font-weight: 400;
    text-transform: capitalize;
}

.card .card-body{
    padding: 1rem;
}
.card .card-footer{
    padding: 1rem;
    border-top: 2px solid #eee;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}

th,
td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

/* datatable syle start */
.datatable-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


input.datatable-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-left: auto;
    outline: none;
    border: 1px solid #eee;
}

.datatable-info {
    font-size: 12px;
    color: #414141;
}

.datatable-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

select.datatable-selector {
    padding: 8px 16px;
    border: none;
    outline: none;
    border: 1px solid #eee;
    color: #9c9c9c;
    transform: translateY(-10px);    
    -moz-appearance: none; 
    -webkit-appearance: none; 
}

.datatable-selector::-ms-expand { 
    display: none; 
} 

.datatable-dropdown label {
    font-size: 12px;
    color: #5f5f5f;
    text-transform: capitalize;
}

.datatable-dropdown {
    position: relative;
    margin-top: 1rem;
}
.datatable-table th{
    padding: 0;
}
button.datatable-sorter {
    border: none;
    outline: none;
    text-align: left;
    border: none;
    outline: none;
    background: #f2f2f2;
    width: 100%;
    cursor: pointer;
    padding: 12px;
}


ul.datatable-pagination-list {
    display: flex;
    list-style: none;
}

button.datatable-pagination-list-item-link {
    border: none;
    background: #fff;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
}
li.datatable-pagination-list-item {
    border: 1px solid #515151;
    border-collapse: collapse;
    border-right: 0;
}
li.datatable-pagination-list-item:last-child{
    border-right: 1px solid;
}
.datatable-active button {
    background: #3F51B5;
    color: #fff;
}
.datatable-disabled button {
    background: #e4dede;
    cursor: no-drop;
}
td.datatable-empty {
    text-align: center;
}
.datatable-search {
    width: 100%;
    position: relative;
    display: flex;
}
/* datatable syle end */




.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
    flex-wrap: wrap;  
}
.flex .col-3{
    flex: 1 1 20%;   
}
.flex .col-6{
    flex: 1 1 60%;     
}
.flex .col-4{
    flex: 1 1 30%;     
}



.widget {
    width: 100%;
    background: #6d6d6dde;
    color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.danger{
    background: #ff3122de;
}
.dark{
    background: #2e3a7e;
}

.info{
    background: #36a2eb;
}
.warning{
    background: #4CAF50;
}


.widget_body {
    display: flex;
    padding: 19px;
    gap: 1rem;
    align-items: center;
}

.widget_text {
    display: flex;
    flex-direction: column;
}


.widget_footer a {
    display: flex;
    justify-content: space-between;
    padding: 8px 24px;
    border-top: 0.5px solid currentColor;
}

.icon {
    background: #fff1f478;
    border-radius: 5px;
    font-size: 32px;
    border-radius: 50%;
    color: #fff;
    padding: 6px 12px;
}

.widget_text .no {
    font-size: 28px;
}

.widget_text .desc {
    margin-top: -8px;
}
.badge {
    padding: 3px 12px;
    border-radius: 30px;
    color: #fff;
    font-size: 14px;
}
.switch{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
    background: #F44336;
    border-radius: 30px;
}
.switch::after{
    content: '';
    position: absolute;
    left: 3px;
    top: 2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.3s linear;
}
.toogle_btn{
    display: none;
}
.toogle_btn:checked + .switch::after{
    transform: translateX(24px);
}
.toogle_btn:checked + .switch{
    background-color: #4caf50;
}


.model-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2d1a6047;
    backdrop-filter: blur(4px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.01);
    transition: all 0.5s ease-in-out;
}
.model-wrapper.active{
    visibility: visible;
    opacity: 1;
    transform: scale(1);
}

.model {
    background: #fff;
    max-width: 350px;
    width: 100%;
    margin: 12px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #00000045;
}
.model_icon {
    display: block;
    margin: auto;
    padding-top: 1rem;
}

.model_icon i {
    background: #3f51b554;
    padding: 2rem;
    border-radius: 50%;
    font-size: 3rem;
    color: #3F51B5;
    border: 1px solid #3F51B5;
}

p.question {
    margin: 12px 0px;
    font-size: 18px;
}

.model_footer {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 11px 16px;
    background: #d6d6d6;
}

.model_footer .btn {
    border: none;
    flex: 1;
    padding: 14px 0;
    font-size: 16px;
}

.tab_group {
    display: flex;
    gap: 1rem;
}

ul.tab_item {
    min-width: 230px;
    list-style: none;
}

div#tab_content {
    flex: 1;
    background: #eee;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    padding: 20px 0;
    gap: 1rem;
    overflow-y: auto;
}

ul.tab_item li .tab_button {
    display: block;
    padding: 8px 12px;
    font-size: 14px;
    background: #cdcdcd;
    border: 1px solid #b5b5b5;
}
.tab_button.active{
    background: #ff0 !important;
}
.document {
    background: #fff;
    margin: 0 20px;
    padding: 8px;
    border-radius: 5px;
}





@media (max-width:980px){
    aside {
        z-index: 1;
        transform: translateX(-260px);
        transition:transform 0.5s linear;
    }
    aside.active{
        transform: translateX(0);
    }

    .main_wrapper {
        width: 100%;
        left: 0;
    }

    /* reponsive table */


}
@media (max-width:768px){
    .btn{
        padding: 8px 10px;
        font-size: 12px;
    }
    .card-header{
        padding: 12px !important;
    }
    .card-title{
        font-size: 1rem;
    }
    .datatable-bottom ,
    .datatable-top{
        flex-direction: column;
        gap: 1rem;
    }
    
    input.datatable-input{
        width: 100%;
    }

    select.datatable-selector{
        transform: none;
    }
    .datatable-dropdown label{
        font-size: 14px;
    }

    th{
        display: none;
    }
    tr{
        display: block;
        margin-bottom: 1rem;
    }
    tr td{
        display: block;
        width: 100%;
    }
    
    .tab_group {
        flex-direction: column;
    }



}